# macOS
.DS_Store

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/
Package.resolved
